body
{
	margin: 0;
	padding: 0;
	color: #555;
	font: normal 10pt Arial,Helvetica,sans-serif;
        background:#fff url(images/bp.jpg) no-repeat center center fixed;/* указываем фоновое изображение(параметр url(bg.jpg)), которое будет растягиваться, центрируем его по горизонтале(параметр center) и вертикале(параметр center) и фиксируем его положение(параметр fixed)*/
-moz-background-size:cover; /* растягиваю изображение по размерам окна для браузера Firefox 3.6 */
-o-background-size:102% auto; /* растягиваю изображение по размерам окна для браузера Opera 9.5 */
-webkit-background-size:102% auto; /* растягиваю изображение по размерам окна для браузера Safari 3.0 */
-khtml-background-size:cover; /* растягиваю изображение по размерам окна для браузера Konqueror 3.5.4 */
background-size:cover; /* растягиваю изображение по размерам окна для всех браузеров поддерживающих технологию CSS3 */
/*	background:url(images/bp.jpg) no-repeat center center fixed; 
        -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;          */
}

#page
{
	margin-top: 5px;
	margin-bottom: 5px;
	background:#fff url(images/bg.jpg) no-repeat center center fixed;
        -moz-background-size:cover; /* растягиваю изображение по размерам окна для браузера Firefox 3.6 */
-o-background-size:102% auto; /* растягиваю изображение по размерам окна для браузера Opera 9.5 */
-webkit-background-size:102% auto; /* растягиваю изображение по размерам окна для браузера Safari 3.0 */
-khtml-background-size:cover; /* растягиваю изображение по размерам окна для браузера Konqueror 3.5.4 */
background-size:cover; /* растягиваю изображение по размерам окна для всех браузеров поддерживающих технологию CSS3 */
	border: 1px solid #C9E0ED;
}

#header
{
	margin: 0;
	padding: 0;
	border-top: 3px solid #C9E0ED;
}

#content
{
    padding: 20px;
}

#sidebar
{
	padding: 20px 20px 20px 0;
}

#footer
{
	padding: 10px;
	margin: 10px 20px;
	font-size: 0.8em;
	text-align: center;
	border-top: 1px solid #C9E0ED;
}

#logo
{
	padding: 10px 20px;
	font-size: 200%;
}

#mainmenu
{
	background:white url(bg.gif) repeat-x left top;
}

#mainmenu ul
{
	padding:6px 20px 5px 20px;
	margin:0px;
}

#mainmenu ul li
{
	display: inline;
}

#mainmenu ul li a
{
	color: #BD0A00;
	background-color:transparent;
	font-size:12px;
	font-weight:bold;
	text-decoration:none;
	padding:5px 8px;
}

#mainmenu ul li a:hover, #mainmenu ul li.active a
{
	color: #6399cd;
	background-color:#EFF4FA;
	text-decoration:none;
}

div.flash-error, div.flash-notice, div.flash-success
{
	padding:.8em;
	margin-bottom:1em;
	border:2px solid #ddd;
}

div.flash-error
{
	background:#FBE3E4;
	color:#8a1f11;
	border-color:#FBC2C4;
}

div.flash-notice
{
	background:#FFF6BF;
	color:#514721;
	border-color:#FFD324;
}

div.flash-success
{
	background:#E6EFC2;
	color:#264409;
	border-color:#C6D880;
}

div.flash-error a
{
	color:#8a1f11;
}

div.flash-notice a
{
	color:#514721;
}

div.flash-success a
{
	color:#264409;
}

div.form .rememberMe label
{
	display: inline;
}

div.view
{
	padding: 10px;
	margin: 10px 0;
	border: 1px solid #C9E0ED;
}

div.breadcrumbs
{
	font-size: 0.9em;
	padding: 5px 20px;
}

div.breadcrumbs span
{
	font-weight: bold;
}

div.search-form
{
	padding: 10px;
	margin: 10px 0;
	background: #eee;
}

.portlet
{

}

.portlet-decoration
{
	padding: 3px 8px;
	background: #B7D6E7;
	border-left: 5px solid #6FACCF;
}

.portlet-title
{
	font-size: 12px;
	font-weight: bold;
	padding: 0;
	margin: 0;
	color: #298dcd;
}

.portlet-content
{
	font-size:0.9em;
	margin: 0 0 15px 0;
	padding: 5px 8px;
	background:#EFFDFF;
}

.portlet-content ul
{
	list-style-image:none;
	list-style-position:outside;
	list-style-type:none;
	margin: 0;
	padding: 0;
}

.portlet-content li
{
	padding: 2px 0 4px 0px;
}

.operations
{
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.operations li
{
	padding-bottom: 2px;
}

.operations li a
{
	font: bold 12px Arial;
	color: #0066A4;
	display: block;
	padding: 2px 0 2px 8px;
	line-height: 15px;
	text-decoration: none;
}

.operations li a:visited
{
	color: #0066A4;
}

.operations li a:hover
{
	background: #80CFFF;
}
ul#nav {
	list-style-type:none;
	margin:0;
	padding:0;
}

#nav {
	float:left;
	width:100%;
	height:75px; /* Высота всего меню (и верхнего уровня и нижнего, все вместе) */
	position:relative;
        background: #80CFFF;
	margin:10px 0 40px; /* Отступ сверху и снизу от меню */
}

#nav .select, #nav .current {
	margin:0;
	padding:0;
	list-style:none;
	display:block;
}

#nav li {
	font-family: Arial; /* Шрифт меню */
	display:inline;
	margin:0;
	padding:0;
	height:auto;
}

#nav .select a, #nav .current a {
	display:block;
	height:40px; /* Высота верхнего уровня */
	float:left;
	background: url("/images/left_nav.png") no-repeat left top; /* Путь к левому изображению */
	padding:0 0 0 5px;
	text-decoration:none;
	font-size:14px; /* Размер шрифта верхнего уровня */
	line-height:40px;
	white-space:nowrap;
	margin-right: 2px; /* Отступы пунктов верхнего уровня */
	position: relative;
	z-index: 500;
}

#nav .select a b, #nav .current a b {
	height:100%;
	display:block;
	background:url("/images/right_nav.png") no-repeat right top; /* Путь к правому изображению */
	padding:0 20px 0 15px;
	color:#606060; /* Цвет ссылок верхнего уровня */
}

#nav .select a:hover, #nav .select li:hover a {
	background-position:0 -50px;
	cursor:pointer;
}

#nav .select a:hover b, #nav .select li:hover a b {
	background-position:100% -50px;
	color:#fff;
}

#nav .sub {
	display:none;
}

#nav .current a {
	background-position:0 -50px;
	border-color:#046;
}
#nav .current a b {
	background-position:100% -50px;
	color:#fff; /* Цвет шрифта активного меню верхнего уровня */
}


#nav .sub li a:hover, #nav .select a:hover .sub li a:hover, #nav .select li:hover .sub li a:hover, #nav .sub_active .current_sub a, #nav .sub_active a:hover {
	color:#fff; /* Цвет шрифта активного меню нижнего уровня */
	text-decoration:underline;
}


#nav .select li a:hover .sub, #nav .select li:hover .sub, #nav .sub_active {
	display:block;
	position:absolute;
	width:100%;
	height: 35px;
	top:40px;
	left:0;
	background:#BD0A00; /* Фон нижнего уровня */
	padding:0;
	z-index:100;
}

#nav .sub_active {
	z-index:10;
}

#nav .sub, #nav .sub_active {
	margin:0;
	padding:0;
	list-style:none;
}


* html #nav .sub_active, * html #nav .select a:hover .sub {
	z-index:-1;
	margin-top:0;
	margin-top:1px;
}

#nav .sub_active a {
	height:25px;
	float:left;
	text-decoration:none;
	line-height:24px;
	white-space:nowrap;
	font-weight:normal;
}

#nav .sub_active a, #nav .select a:hover .sub li a, #nav .select li:hover .sub li a {
	display:inline;
	background:none;
	padding:0 10px;
	margin:0;
	font-size:13px; /* Размер шрифта нижнего уровня */
	width:auto;
	white-space:nowrap;
	font-weight:normal;
	border:0;
	color:#ffdddc; /* Цвет шрифта нижнего уровня */
	height:35px;
	line-height:35px;
}
