span.required {
	color: #BF3030;
}

.tools a.icon {
	color: transparent !important;
}

.error {
	border-color: #BF3030;
}

.deleteSelected-link {
 border: 1px solid #992626 !important;
 background: #bf3030 !important;
}
.deleteSelected-link:hover {
    color: #444 !important;
    border: 1px solid #aaa !important;
    background: #d6d6d6 !important;
}